In [3]:
import pandas as pd
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
import os
from setting import *
plt.style.use('ggplot')

In [4]:
df = pd.read_csv('../survey_results_public_2024.csv' , index_col='ResponseId')
pd.set_option('display.max_columns', 35)
pd.set_option('display.max_rows', 100)
df = df.drop(DROP_FEATURES, axis=1)
country_grp = df.groupby(['Country'])
America = country_grp.get_group('United States of America').copy()

/var/folders/_y/yj2br66n1s11j40c681dw54w0000gn/T/ipykernel_40951/3312642876.py:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  America = country_grp.get_group('United States of America').copy()

In [5]:

def map_employment(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(MAPPING_EMPLOYEMENT.get(opt, 0) for opt in options)
America['Employment'] = America['Employment'].apply(map_employment)

In [6]:

America['MainBranch'] = America['MainBranch'].map(mapping_mainbranch).fillna(0).astype(int)

In [7]:
# RemoteWork
# Which best describes your current work situation?

America['RemoteWork'] = America['RemoteWork'].map(mapping_remotework).fillna(0).astype(int)

In [8]:

America['Age'] = America['Age'].map(mapping_age).fillna(0).astype(int)

In [9]:
#Which of the following best describes the code you write outside of work? Select all that apply.

def map_codingActivities(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_codingActivities.get(opt, 0) for opt in options)
America['CodingActivities'] = America['CodingActivities'].apply(map_codingActivities)

In [10]:

America['EdLevel'] = America['EdLevel'].map(mapping_EdLevel).fillna(0).astype(int)

In [11]:
mapping_yearsCode = {"Less than 1 year":0, "More than 50 years": 50}
America['YearsCode'] = America['YearsCode'].replace(mapping_yearsCode).fillna(0).astype(int)
America['YearsCodePro'] = America['YearsCodePro'].replace(mapping_yearsCode).fillna(0).astype(int)

In [12]:

America['DevType'] = America['DevType'].map(mapping_DevType).fillna(0).astype(int)

In [13]:

America['OrgSize'] = America['OrgSize'].map(mapping_OrgSize).fillna(0).astype(int)

In [14]:

def map_Languages(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_Languages.get(opt, 0) for opt in options)
America['LanguageHaveWorkedWith'] = America['LanguageHaveWorkedWith'].apply(map_Languages)

In [15]:


def map_Databases(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_database.get(opt, 0) for opt in options)
America['DatabaseHaveWorkedWith'] = America['DatabaseHaveWorkedWith'].apply(map_Databases)

In [16]:
#		AIBen	AIAcc	AIToolCurrently Using	AIThreat	AIEthics	AIChallenges	ICorPM	WorkExp	Frustration	Industry	JobSat
# ResponseId																	

def map_platforms(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_platforms.get(opt, 0) for opt in options)
America['PlatformHaveWorkedWith'] = America['PlatformHaveWorkedWith'].apply(map_platforms)

In [17]:

def map_webframe(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_webframe.get(opt, 0) for opt in options)
America['WebframeHaveWorkedWith'] = America['WebframeHaveWorkedWith'].apply(map_webframe)

In [18]:

def map_embedded(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_embedded.get(opt, 0) for opt in options)
America['EmbeddedHaveWorkedWith'] = America['EmbeddedHaveWorkedWith'].apply(map_embedded)

In [19]:

#OpSysPersonal use
def map_OpSys(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_opsys.get(opt, 0) for opt in options)
America['OpSysPersonal use'] = America['OpSysPersonal use'].apply(map_OpSys)
America['OpSysProfessional use'] = America['OpSysProfessional use'].apply(map_OpSys)

In [20]:


def map_aisearchdev(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_aisearchdev.get(opt, 0) for opt in options)
America['AISearchDevHaveWorkedWith'] = America['AISearchDevHaveWorkedWith'].apply(map_aisearchdev)

In [21]:
# AISelect

America['AISelect'] = America['AISelect'].map(mapping_aiselect).fillna(0).astype(int)

In [22]:

# AIBen
def map_aiben(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_aiben.get(opt, 0) for opt in options)
America['AIBen'] = America['AIBen'].apply(map_aiben)

In [23]:

America['AIAcc'] = America['AIAcc'].map(mapping_aiacc).fillna(0).astype(int)

In [24]:

def map_aitool(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_aitool.get(opt, 0) for opt in options)
America['AIToolCurrently Using'] = America['AIToolCurrently Using'].apply(map_aitool)

In [25]:

America['AIThreat'] = America['AIThreat'].map(mapping_aithreat).fillna(0).astype(int)

In [26]:

def map_aiethics(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_aiethics.get(opt, 0) for opt in options)
America['AIEthics'] = America['AIEthics'].apply(map_aiethics)

In [27]:

def map_aichallenges(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_aichallenges.get(opt, 0) for opt in options)
America['AIChallenges'] = America['AIChallenges'].apply(map_aichallenges)

In [28]:

America['ICorPM'] = America['ICorPM'].map(mapping_icorpm).fillna(0).astype(int)

In [29]:

def map_frustration(cell):
    # Return 0 for missing values
    if pd.isna(cell):
        return 0
    # Split the cell string by comma and remove extra spaces
    options = [opt.strip() for opt in cell.split(';')]
    # Aggregate the mapped values (in this case, summing them)
    return sum(mapping_frustration.get(opt, 0) for opt in options)
America['Frustration'] = America['Frustration'].apply(map_frustration)

In [30]:

America['Industry'] = America['Industry'].map(mapping_industry).fillna(0).astype(int)

In [31]:
America.fillna(0, inplace=True)

In [32]:
America = America.drop("Country", axis=1)

In [33]:
America.reset_index(drop=True, inplace=True)

America

,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,YearsCode,YearsCodePro,DevType,OrgSize,CompTotal,LanguageHaveWorkedWith,DatabaseHaveWorkedWith,PlatformHaveWorkedWith,WebframeHaveWorkedWith,EmbeddedHaveWorkedWith,OpSysPersonal use,OpSysProfessional use,AISearchDevHaveWorkedWith,AISelect,AIBen,AIAcc,AIToolCurrently Using,AIThreat,AIEthics,AIChallenges,ICorPM,WorkExp,Frustration,Industry,JobSat
0,1,1,1,1,1,1,0,0,0,0,0.0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0.0,0,0,0.0
1,2,1,4,0,0,1,10,0,1,0,0.0,236,4,3,22,0,38,0,29,1,9,2,8,2,12,0,0,0.0,0,0,0.0
2,2,4,1,1,4,7,7,7,1,0,0.0,38,0,0,0,0,12,12,0,3,0,0,0,0,0,0,0,0.0,0,0,0.0
3,1,4,1,1,3,5,20,0,5,0,0.0,99,96,11,76,0,35,17,59,1,12,4,23,2,21,8,1,15.0,26,2,8.0
4,1,4,1,3,6,5,20,12,4,0,0.0,114,24,48,0,0,35,18,0,3,0,0,0,0,0,0,1,12.0,5,1,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11090,1,4,1,1,7,6,30,7,0,2,0.0,138,119,2,28,11,28,28,52,1,6,4,13,2,6,1,0,0.0,0,0,0.0
11091,1,2,1,3,1,3,4,2,4,4,40000.0,169,27,5,88,0,17,34,14,1,3,4,3,2,11,1,1,4.0,0,0,0.0
11092,1,3,2,1,9,5,9,5,4,9,130000.0,93,49,24,107,0,53,12,27,1,11,5,31,2,11,5,1,5.0,0,0,0.0
11093,2,5,1,1,3,3,28,25,5,5,250000.0,0,0,0,0,0,0,0,0,2,0,0,0,2,13,8,0,0.0,0,0,0.0
11094,1,5,1,1,12,6,41,25,1,7,157000.0,51,0,0,26,0,42,0,0,3,0,0,0,0,0,0,1,25.0,0,0,0.0

In [34]:
#after running this we can get a clean data to process for next steps
America.to_csv('../numerical_data.csv',index_label='id', index=True)